<header>
<h1>Recipe Manager</h1>
</header>

<h2>{{title}}</h2>


<h3>Ingredients</h3>

<div>

<ul>
    {{#each ingredients }}
       
   <li>{{this}}</li>
        
    {{/each}}
</ul>
</div>

<h3>Instructions</h3>

<div>
<ol>
    {{#each steps}}
    <li>{{this}}</li>
    {{/each}}
</ol>
</div>

<h3> Edit Recipe</h3>

<a class= "edit" href="/edit/{{id}}">Edit Now!</a>

<h4> Delete Recipe </h4>

<form action="/{{id}}?_method=delete" method="post">
  <input type="submit" value="Remove Meal">
</form>
